{% extends 'main.html' %}

{% block content %}
{% if page == "login" %}
<div>
    <h1>Login</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="Username">Username</label>
        <input type="text" name="username">

        <label for="Username">Password</label>
        <input type="password" name="password">

        <input type="submit" value="login">
    </form>
</div>

{% else %}
<div>
    <h1>Register</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        
        <input type="submit" value="Register">
    </form>
</div>
{% endif %}


{% endblock content %}